.adminPage{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: 100vh;
  .mainPart{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: calc(100% - 20vw);
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      width: calc(100% - 25vw);
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}