.authPage {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  .blockAuth{
    color: #3D5170;
    margin-top: 9vw;
    @media screen and (max-width: 767px) {
      margin-top: 20vw;
    }
    .blockName{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      span{
        font-weight: normal;
        font-size: 1.66vw;
        line-height: 2vw;
        margin-left: 1vw;
        @media screen and (min-width: 1024px) and (max-width: 1439px) {
          font-size: 2.5vw;
          line-height: 3vw;
          margin-left: 2vw;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
          font-size: 4vw;
          line-height: 4.8vw;
          margin-left: 2.5vw;
        }

        @media screen and (max-width: 767px) {
          font-size: 6vw;
          line-height: 7.2vw;
          margin-left: 3vw;
        }
      }
      img{
        width: 3.5vw;
        @media screen and (min-width: 1024px) and (max-width: 1439px) {
          width: 5vw;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
          width:7vw;
        }

        @media screen and (max-width: 767px) {
          width: 9vw;
        }
      }
    }
    .formAuth{
      display: flex;
      flex-direction: column;
      background: white;
      position: relative;
      box-shadow:
              0 1px 0 rgba(90, 97, 105, 0.11),
              0 2px 4px rgba(90, 97, 105, 0.12),
              0 5px 5px rgba(90, 97, 105, 0.06),
              0 3.5px 35px rgba(90, 97, 105, 0.1);
      width: 30vw;
      border-radius: 9px;
      padding: 1.38vw 1.25vw;
      margin-top: 1vw;
      @media screen and (min-width: 1024px) and (max-width: 1439px) {
        width: 40vw;
        padding: 1.7vw 1.5vw;
        margin-top: 2vw;
      }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 50vw;
        padding: 2.5vw 2.2vw;
        margin-top: 3vw;
      }
      @media screen and (max-width: 767px) {
        width: 70vw;
        padding: 4vw 3.5vw;
        margin-top: 5vw;
      }
      .formAuthName{
        font-style: normal;
        font-weight: normal;
        font-size: 1.47vw;
        line-height: 1.6vw;
        text-align: center;
        @media screen and (min-width: 1024px) and (max-width: 1439px) {
          font-size: 2vw;
          line-height: 2.18vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          font-size: 3vw;
          line-height: 3.27vw;
        }
        @media screen and (max-width: 767px) {
          font-size: 5vw;
          line-height: 5.44vw;
        }
      }
      .blockInputData{
        display: flex;
        flex-direction: column;
        margin-top: 3vw;
        @media screen and (min-width: 1024px) and (max-width: 1439px) {
          margin-top: 4vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          margin-top: 5vw;
        }
        @media screen and (max-width: 767px) {
          margin-top: 7vw;
        }
        &:nth-of-type(2){
          margin-top: 1.5vw;
          @media screen and (min-width: 1024px) and (max-width: 1439px) {
            margin-top: 2vw;
          }
          @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 2.5vw;
          }
          @media screen and (max-width: 767px) {
            margin-top: 4vw;
          }
        }
        span{
          font-weight: normal;
          font-size: 0.88vw;
          line-height: 0.8vw;
          color: #495057;
          @media screen and (min-width: 1024px) and (max-width: 1439px) {
            font-size: 1.3vw;
            line-height: 1.3vw;
          }
          @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.7vw;
            line-height: 1.7vw;
          }
          @media screen and (max-width: 767px) {
            font-size: 3vw;
            line-height: 3vw;
          }
        }
        input{
          border-radius: 3px;
          border: 0.5px solid #BECAD6;
          font-weight: normal;
          font-size: 1vw;
          line-height: 1.1vw;
          padding: 0.5vw 0.75vw;
          margin-top: 0.75vw;
          transition: border ease 0.5s;
          &:focus{
            border: 1px solid #007BFF;
          }
          @media screen and (min-width: 1024px) and (max-width: 1439px) {
            font-size: 1.5vw;
            line-height: 1.5vw;
            padding: 0.75vw 1vw;
          }
          @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 2vw;
            line-height: 2vw;
            padding: 1vw 1.5vw;
          }
          @media screen and (max-width: 767px) {
            font-size: 4vw;
            line-height: 4vw;
            padding: 1.5vw 2vw;
          }
        }
        .errorInput {
          border: 1px solid red;
        }
      }
      .blockActions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5vw;
        @media screen and (min-width: 1024px) and (max-width: 1439px) {
          margin-top: 2vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          margin-top: 3vw;
        }
        @media screen and (max-width: 767px) {
          margin-top: 5vw;
        }
        div{
          cursor: pointer;
          transition: all ease 0.5s;
          &:hover{
            filter: brightness(90%);
          }
          &:nth-of-type(1){
            font-weight: normal;
            font-size: 1vw;
            line-height: 1.1vw;
            color: #007BFF;
            @media screen and (min-width: 1024px) and (max-width: 1439px) {
              font-size: 1.36vw;
              line-height: 1.496vw;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
              font-size: 1.7vw;
              line-height: 1.87vw;
            }
            @media screen and (max-width: 767px) {
              font-size: 3vw;
              line-height: 3.3vw;
            }
          }
          &:nth-of-type(2){
            color: white;
            background: #007BFF;
            border-radius: 4px;
            font-size: 1.1vw;
            line-height: 1.3vw;
            padding: 0.5vw 3vw;
            @media screen and (min-width: 1024px) and (max-width: 1439px) {
              font-size: 1.496vw;
              line-height: 1.768vw;
              padding: 0.75vw 4.5vw;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
              font-size: 1.8vw;
              line-height: 2.12vw;
              padding: 1vw 5vw;
            }
            @media screen and (max-width: 767px) {
              font-size: 3.5vw;
              line-height: 4.1vw;
              padding: 2vw 9vw;
            }
          }
        }
      }
      .disableButtonLogin{
        pointer-events: none;
        background: #EEEEEE !important;
      }
    }
    .formAuthLoading{
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 9px;
    }
  }
  .errorAuth{
    display: block;
    position: fixed;
    right: 3vw;
    bottom: 1vw;
    color: white;
    background: #EF5350;
    width: 20vw;
    border-radius: 4px;
    padding: 1vw;
    font-weight: 300;
    transform: translateY(100%);
    opacity: 0;
    transition: all ease 0.5s;
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      width: 25vw;
      bottom: 3vw;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      width: 40vw;
      bottom: 2vw;
    }
    @media screen and (max-width: 767px) {
      width: 60vw;
      bottom: 7vw;
      right: 5vw;
    }
  }
  .errorAuthActive{
    transform: translateY(0%);
    opacity: 1;
  }
}

.loader {
  display: block;
  width: 10vw;
  height: 10vw;
  pointer-events: none;
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    width: 12vw;
    height: 12vw;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 14vw;
    height: 14vw;
  }
  @media screen and (max-width: 767px) {
    width: 16vw;
    height: 16vw;
  }
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 10vw;
    height: 10vw;
    border: 0.5vw solid #0EC261;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0EC261 transparent transparent transparent;
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      width: 12vw;
      height: 12vw;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      width: 14vw;
      height: 14vw;
    }
    @media screen and (max-width: 767px) {
      width: 16vw;
      height: 16vw;
    }
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}