.ordersList{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2%;
  width: 100%;
  height: 100%;
  .orderCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 33.3%;
    padding: 0.2vw 0;
    .imgBlock{
      display: flex;
      align-items: center;
      width: 13%;
      @media screen and (min-width: 1024px) and (max-width: 1439px) {
        width: 17%;
      }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 20%;
      }
      @media screen and (max-width: 767px) {
        width: 20%;
      }
    }
    .orderInfo{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30%;
      @media screen and (max-width: 767px) {
        width: 32%;
      }
      p{
        color: #889098;
        font-size: 1vw;
        line-height: 1.1vw;
        font-weight: normal;
        @media screen and (min-width: 1024px) and (max-width: 1439px) {
          font-size: 1.5vw;
          line-height: 1.8vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          font-size: 2vw;
          line-height: 2.5vw;
        }
        @media screen and (max-width: 767px) {
          font-size: 3vw;
          line-height: 3.3vw;
        }
        span{
          color: #121212;
        }
      }
    }
    .addInfo{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 10%;
      @media screen and (max-width: 1439px) {
        width: 15%;
      }
      .checkBlock{
        display: flex;
        flex-direction: row;
        align-items: center;
        span{
          font-weight: normal;
          font-size: 0.8vw;
          line-height: 0.96vw;
          color: #999999;
          @media screen and (min-width: 1024px) and (max-width: 1439px) {
            font-size: 1.3vw;
            line-height: 1.56vw;
            margin-left: 1vw;
          }
          @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.6vw;
            line-height: 1.92vw;
            margin-left: 1.5vw;
          }
          @media screen and (max-width: 767px) {
            font-size: 2vw;
            line-height: 2.4vw;
            margin-left: 2vw;
          }
        }
        .activeSpan{
          color: #121212;
        }
      }
    }
    .totalPrice{
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 1.75vw;
      line-height: 2.04vw;
      color: #121212;
      width: 10%;
      @media screen and (min-width: 1024px) and (max-width: 1439px) {
        font-size: 2.2vw;
        line-height: 2.5vw;
      }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 2.5vw;
        line-height: 2.9vw;
      }
      @media screen and (max-width: 767px) {
        font-size: 3vw;
        line-height: 3.5vw;
      }
    }
  }

}